.footer .section-title{
    margin-bottom: 0;
}
.footer.section-p{
    padding: 4.5rem 0;
}
.footer-social-links{
    margin-top: 2rem;
    padding: 20px; ;
}
.footer-social-links li{
    margin: 0 1rem;
    padding: 20px;

}
.footer .reserved-text{
    margin-top: 2rem;
}